<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
	<link rel="shortcut icon" href="{% static 'media/ffav.png' %}">
	<title>Hotel</title>
	<script type="text/javascript">
		
	</script>
</head>
<body>
<form method="POST" action="/room">
	{% csrf_token %}
	<table>
		<tr>
			<td><p class="ttl">Check in</p></td>
			<td><input type="date" name="check_in"></td>
		</tr>
		<tr>
			<td><p class="ttl">Check out</p></td>
			<td><input type="date" name="check_out"></td>
		</tr>
	</table>
	<button class="vtn">Search</button>
</form>
<a href="/list_booked"><button class="vtn">List booked rooms</button></a>
</body>
</html>